*{
			padding: 0;
			margin: 0;
			overflow-x: hidden;
			font-family: sans-serif;
		}
		body{
			zoom: 350%;
		}
		.center_it{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.center_itand{
			position: absolute;
			top: 125%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.center_itnor{
			position: absolute;
			top: 200%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.center_itnand{
			position: absolute;
			top: 275%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.center_itexor{
			position: absolute;
			top: 350%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.center_itexnor{
			position: absolute;
			top: 425%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.edit{
			display: flex;
		}
		.checkbtns{
			display: flex;
		}
		button{
			margin: 0 1rem;
			border: none;
			outline: none;
		}
		input{
			font-size: 2rem !important;
			padding: .1rem .2rem!important;
		}
		input::placeholder{
			font-size: 1.1rem;
		}